<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYDKQWLE1C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-SYDKQWLE1C');
    </script>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <% if(config.author) { %>
    <meta name="author" content="<%= config.author %>">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/tufte.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/tufte_ext.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/solarized_light.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/header.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/main.css'%>">
    <link rel="stylesheet" type="text/css" href="<%= config.root + 'css/' + css_source %>">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700|Work+Sans&amp;display=swap" rel="stylesheet">
    <% if(config.feed) { %>
    <link rel="alternate" type="application/<%= config.feed.type %>+xml" title="<%= config.title %>" href="<%= url_for(config.feed.path) %>" />
    <% } %>
    <%- open_graph(open_graph_options) %>
</head>

<body>
    <% if(is_home() || is_current('/bookshelf')) { %>
    <%- intro %>
    <% } %>
    <%- partial('_partial/header') %>
    <div class="body-container">
        <%- body %>
    </div>
    <footer>
        <div class="pagination-container">
            <% if(page.prev_link) { %><a href="<%= config.root + page.prev_link %>">&#8592; Previous</a>
            <% } else if(!page.title && page.prev !== 0) { %><a href="<%= config.root %>">&#8592; Previous</a><% } %>
            <% if(page.next_link) { %><a href="<%= config.root + page.next_link %>">Next &#8594;</a><% } %>
        </div>
        <div class="pagination-container">
            <a href="mailto:&#115;&#099;&#104;&#117;&#110;&#099;&#104;&#105;&#099;&#097;&#103;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">
                <p>comments or errata? say hi at &#115;&#099;&#104;&#117;&#110;&#099;&#104;&#105;&#099;&#097;&#103;&#111;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</p>
            </a>
            <p>To get an email when new posts come out, <a href="https://tinyletter.com/chunstuff">sign up here</p>
        </div>
    </footer>
</body>

</html>
